<html>
    <% provide(:title, "page3") %>
<head>
  <h3>Hack Task 1</h3>
</head>
<body>
  <h4> DOM Tree</h4>
  <img src="/image/dom.jpg" alt="dom"></img>
  <br>
  <h4> CSS Box </h4>
  <img src="/image/cssbox.jpg" alt="css"></img>
</body>
</html>
